<h2>List Employee</h2>

@model IQueryable<Employee>

<table class="table">
    <thead>
        <tr>
            <th scope="col">NAME</th>
            <th scope="col">GENDER</th>
            <th scope="col">PHONE NUMBER</th>
            <th scope="col">EMAIL</th>
            <th scope="col">POSITION</th>
            <th scope="col">SALARY</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
        <tr>
            <td>@e.Name</td>
            <td>@e.Gender</td>
            <td>@e.PhoneNumber</td>
            <td>@e.EmailAddress</td>
            <td>@e.Position</td>
            <td>@e.Salary</td>
        </tr>
        }
    </tbody>
</table>
