<h1>Book Store</h1>

@Model ProductsListViewModel

@foreach (var p in Model.Books)
{
    @*<div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@p.Image" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@p.Name</h5>
                <p class="card-text">@p.Description</p>
                <a href="#" class="btn btn-primary">@p.Price</a>
            </div>
        </div>*@
   <partial name="s" model="p" />
}

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" page-url-values="@Model.CurrentCategory"
     class="btn-group pull-right m-1">
</div>

